root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[{*.yaml, *.yml}]
indent_size = 3
trim_trailing_whitespace = false

[/.github/workflows/{*.yml,*.yaml}]
indent_size = 4
